//Colors
$white: #ffffff;
$dark-gray: #1c1c20;
$light-gray: #5c5c68;
$active-green: #9df171;
$primary-green: #c8fe61;
$primary-yellow: #f6ff7d;

//Typography
$bold: 700;
$regular: 400;
$semi-bold: 500;
$font-family: 'Outfit', sans-serif;
